@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");

:root {
  font-family: var(--text-primary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;

  /* font variables */
  --text-primary: "Poppins", sans-serif;
  --text-secondary: "The Nautigal", cursive;

  /* color variables */
  --bbase: black;
  --bsec: #020202;
  --dgray: #090909;
  --lgray: #e2e7da;
  --dcoffee: #140303;
  --coffee: #291818;
  --wcoffee: #d99c69;

  
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: var(--lgray);
}
.app {
  background-color: var(--bsec);
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}
.page-layout {
  width: 100%;
  padding-top: 4rem;
  background-color: var(--bsec);
  color: var(--lgray);
  margin-top: 4rem;
  height: 98vh !important;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
